<html>
<head>

</head>
<body>
<table>
    <thead>
        <tr>ID</tr>
        <tr>Name</tr>
        <tr>Properties</tr>
        <tr>Properties</tr>
        <tr>Manufacture</tr>
        <tr>Count</tr>
        <tr>MFG</tr>
        <tr>EXP</tr>
        <tr>Category</tr>
        <tr>Price</tr>
        <tr>Barcode</tr>
    </thead>
</table>
</body>
</html>
